<!-- <div>Today's date :- {{presentDate}}</div>
<div>Today's date :- {{presentDate | date}}</div>
<div>This is a short date :- {{presentDate | date: 'shortDate'}}<br>
This line shows the full date :- {{presentDate | date: 'fullDate'}}<br>
This will show a formatted date :-{{presentDate | date:'M/dd/yyyy'}}<br>
This indicates the hours and minutes:- {{presentDate | date:'h:mm'}}<br>
Michael Ronquillo</div>
chain pipes
 <div>Date with uppercase :- {{presentDate | date: 'fullDate' | uppercase}}<br>
Date with lowercase :- {{presentDate | date: 'medium' | lowercase}}</div>
<div>Seconds changing in Time: {{time$ | async | date: 'mediumTime'}}</div>
<h2>JSON Pipes!</h2>
<p>Object: {{testObject}}</p>
<p>Object with JsonPipe: {{testObject | json}}</p>
<p>array: {{testArray}}</p>
<h3>Currency Pipe</h3>
<p>Price: {{price | currency: 'JPY':true}}</p>
<p>{{price | currency: 'JPY'}}</p>
<div>
  <h3>Start index: - {{Fruits | slice: 2}}</h3>
  <h4>Start and end index: -</h4>
  <h5>Negative index: - {{Fruits | slice: -2}}</h5>
  <h6>Negative start and end index: - {{Fruits | slice: -4:-2}}</h6>
</div>

<h3>Decimal Pipe</h3>
<p>{{decimalNum1 | number}}</p>
<p>{{decimalNum2 | number}}</p>
<p>Apply formatting: - {{decimalNum1 | number: '3.1'}}</p>
<p>Apply formatting: - {{decimalNum1 | number: '2.1-4'}}</p> -->

<!-- My service -->
 <h1>Created: Michael Ronquillo</h1>
<h3>Ng Services</h3>
 <p>Ng service: {{todaydate}}</p>
<h3>New-cmp</h3>
<p>{{todaydate}}</p>
<p>{{componentproperty}}</p>
<app-new-cmp></app-new-cmp>
<router-outlet />
